---
import { SITE } from '~/config.mjs'
import Layout from '~/layouts/PageLayout.astro'

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
    <div>
        App
    </div>
</Layout>
